fastapi
uvicorn
mangum
python-jose[cryptography]
passlib[bcrypt]
SQLAlchemy
psycopg[binary]
python-dotenv
alembic
pydantic
pydantic-settings
email-validator
python-multipart
httpx
requests
numpy
razorpay
certifi
